.carousel {
	background: #eee;
}

.carousel-cell {
	margin-right:20px;
	overflow: hidden;
}

.carousel-cell img {
	display: block;
	height:100px;
}

@media only screen and (max-width: 600px) {
	.carousel-cell img {
		height: 350px;
}