


.glider  img{
width:500px;
height:auto;
padding: 10px;
/* Stop highlighting image */
 	-o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.glider{
	overflow-x:hidden;
}

.glider-contain{
	width: 95%;
}

