/* 140 different color pseudonymes (color chart) - http://www.html-color-names.com/color-chart.php */

.VerySmallClass
{
	width: 250px;
	font-size: 0px;	
	padding-left: 35pt;
	padding-bottom: 10pt;
	
}

#body
{	
	clear: both;
}
																		
/* 	======================================================================================
	Custom headings
	=================================================================================	*/

h1 {
	font-size: 50pt;
	font-weight: 800px;
}

H7, H8, H9, H10, H11, H12, H13, H15	
{	color: 			#000; 
	font-family: 	"Arial"; 
	font-weight:	normal;
	font-style: 	normal;	
	
}

/* Defined headings for normal page text */
H7		{	font-size: 		14pt;											}	/* used for headings - on the Page Purpose etc.  - Welcome to ... */
H8		{	font-size: 		12pt;	font-style: italic;						}	/* used for question - e.g. on the home page */
H9		{	font-size: 		11pt;											}	/* used for normal text on a page - e.g on the home page */

/* Defined headings for normal table text */
H10		{	font-size: 		12pt;	font-style: italic;						}	/* used for headings in tables - e.g. the news table */
H11		{	font-size: 		11pt;											}	/* used for normal text in a table - e.g on the News page & Contact us page */
H12		{	font-size: 		10pt;											}	/* used for table titles - e.g. the top/bottom of the trending table  */

H13		{	font-size: 		9pt;																	}


H14		{	font-size: 		10pt;																	}
H15		{	font-size: 		14pt;																	}

/* http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=32CD32 */
small							{	font-size: 8pt;															}
small2							{	 font-size: 8pt;															}

									
/* 	======================================================================================
	allows 3 divs sidebyside
	=================================================================================	*/									

.left-section-box 
{
    float: left; width: 450px;
	
}

.middle-section-box 
{
    float: left; width: 10px;
	text-align: justified;
}

.right-section-box 
{
    float: left; width: 340px;
}	
	
.section-boxNavLeft
{
    float: left; width: 20px;
	
}

.section-boxNavRight
{
    float: left; width: 360px;
	
}	
	
.section-box 
{
    float: left; width: 450px;
	
}

.section-box2 
{
    float: left; width: 10px;
	text-align: justified;
}

.section-box3 
{
    float: left; width: 340px;
}

.section-box4
{
    float: left; width: 600px;
	
}

.section-box5 
{
    float: left; width: 199px;
	text-align: justified;
}
									
/* 	======================================================================================
	Standard CSS Components
	=================================================================================	*/
	
a {
  color: #212529!important;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3!important;
  text-decoration: underline!important;
}
	
#page.a:link, #page.a:visited	{	color: slateGray;	text-decoration: none; border-bottom: 1px	dotted slateGray;		}
#page.a:hover					{	color: #444;		border-bottom-color: #444;											}									
ol, li							{	line-height: 35px;																		}
HR								{   border: 1px dotted lightGray;		border-style: none none dotted; 
								    color: #fff; 					    background-color: #fff;								}

						

a.memberlink					{	font-family: 	"Arial";	font-size: 		10pt;		font-weight:	normal;				}
									
a.memberlink:link, a.memberlink:visited	{	color: slateGray;	text-decoration: none; border-bottom: 1px	dotted slateGray;		}
a.memberlink:hover					{	color: #444;		border-bottom-color: #444;											}									
ol, li							{	line-height: 35px;																		}
HR								{   border: 1px dotted lightGray;		border-style: none none dotted; 
								    color: #fff; 					    background-color: #fff;								}									
a.loginlink:link, a.loginlink:visited	{	color: slateGray;	text-decoration: none; border-bottom: 1px	dotted slateGray;		}
a.loginlink:hover					{	color: #444;		border-bottom-color: #444;											}									
									

a.foundarticles					{	font-family: 	"Arial";	font-size: 		10pt;		font-weight:	BOLD;	
									color: slateGray;				text-decoration: none; 		border-bottom: 1px	dotted slateGray;		}
a.foundarticles:hover			{	color: Blue;		text-decoration: underline											} 
a.foundarticles:visited			{	color: slateGray;				text-decoration: none; 		border-bottom: 1px	dotted slateGray;		}									

a.choosecalendardate					{	font-family: 	"Arial";	font-size: 		9pt;		font-weight:	BOLD;	
									color: slateGray;				text-decoration: none; 		border-bottom: 1px	dotted slateGray;		}
a.choosecalendardate:hover			{	color: Blue;		text-decoration: underline											} 
a.choosecalendardate:visited			{	color: slateGray;				text-decoration: none; 		border-bottom: 1px	dotted slateGray;		}									
									
/*	======================================================================================
	Styles for the calendar (FULLCALENDAR)
	==================================================================================	*/	
	
#calendar 						{		max-width: 800px;	
										margin: 0 auto;	
										font-family: 	"Arial";
										font-size: 		10pt;
										font-weight:	normal;
										color: slateGray;										
								}	

a.calendar:link, a.calendar:visited				{	color: White;	text-decoration: none; border-bottom: 1px	dotted slateGray;		}
a.calendar:hover							{	color: #444;		border-bottom-color: #444;											}								

#PDFDisplaybox 
{	width:	800px;	
	border:	1px	dotted slateGray;
	margin: 0px auto;
	
}


/* This table is used on the INDEX.php page */
.TrendingTable 													{	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}

/* This table is used on the NEWS.php & RESEARCH.php page */
.tablewithroundedtopandbottom 									{	width:700px; 	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.tablewithroundedtopandbottom th 									{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.0em dotted slateGray; 		}
.tablewithroundedtopandbottom td 									{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.0px dotted slateGray; 		}
.tablewithroundedtopandbottom thead tr:first-child th:first-child 	{	border-radius: 0 0 0 0;																	}
.tablewithroundedtopandbottom thead tr:first-child th:last-child 	{   border-radius: 0.6em 0.6em 0.6em 0.6em;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.tablewithroundedtopandbottom tbody tr:last-child td:first-child 	{   border-radius: 0 0 0 0;						/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.tablewithroundedtopandbottom tbody tr:last-child td:last-child 	{	border-radius: 0 0 0 0;																	}
.tablewithroundedtopandbottom tfoot tr:first-child th:first-child 	{	border-radius: 0 0 0 0;																	}
.tablewithroundedtopandbottom tfoot tr:first-child th:last-child 	{   border-radius: 0.6em 0.6em 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the NEWS.php & RESEARCH.php page */
.StyledTable1 td 													{  	vertical-align:middle; 	text-align:left;    	border:0.0px dotted slateGray; 			}

/* This table is used on the PAGEPURPOSE.php page - for the main menu */
.InvisibleTableBorders 											{	width:800px;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.InvisibleTableBorders th 										{   color:#000;   	vertical-align:middle; 	text-align:middle;    	border:0.0em dotted slateGray; 		}
.InvisibleTableBorders td 										{  	color:#000099;  vertical-align:middle; 	text-align:right;    	border:0.0px dotted slateGray; 		}
.InvisibleTableBorders thead tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																	}
.InvisibleTableBorders thead tr:first-child th:last-child 			{   border-radius: 0.6em 0.6em 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.InvisibleTableBorders tbody tr:last-child td:first-child 			{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.InvisibleTableBorders tbody tr:last-child td:last-child 			{	border-radius: 0 0 0 0;																	}
.InvisibleTableBorders tfoot tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																		}
.InvisibleTableBorders tfoot tr:first-child th:last-child 			{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the JOURNAL.php page */
.JournalsTable 													{	border-collapse: collapse; 	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.JournalsTable  th 												{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.0em dotted slateGray; 			  box-shadow: 2px 2px 5px #888888;}
.JournalsTable  td 												{  	color:#000099;  vertical-align:middle; 	text-align:center;     	border:0.0px dotted slateGray; 		}
.JournalsTable  thead tr:first-child th:first-child 					{	border-radius: 0 0 0 0;																	}
.JournalsTable  thead tr:first-child th:last-child 					{   border-radius: 0 0 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.JournalsTable  tbody tr:last-child td:first-child 					{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.JournalsTable  tbody tr:last-child td:last-child 					{	border-radius: 0 0 0 0;																	}
.JournalsTable  tfoot tr:first-child th:first-child 				{	border-radius: 0 0 0 0;																	}
.JournalsTable  tfoot tr:first-child th:last-child 					{   border-radius: 0 0 0 0;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the JOURNAL.php page */
.ArticlesTable 													{	border-collapse: collapse; width:95%;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.ArticlesTable  th 												{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.0em dotted slateGray; 			  box-shadow: 2px 2px 5px #888888;}
.ArticlesTable  td 												{  	color:#000099;  vertical-align:middle; 	text-align:center;     	border:0.0px dotted slateGray; 		}
.ArticlesTable thead tr:first-child th:first-child 					{	border-radius: 0 0 0 0;																	}
.ArticlesTable  thead tr:first-child th:last-child 					{   border-radius: 0 0 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.ArticlesTable  tbody tr:last-child td:first-child 					{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.ArticlesTable  tbody tr:last-child td:last-child 					{	border-radius: 0 0 0 0;																	}
.ArticlesTable  tfoot tr:first-child th:first-child 				{	border-radius: 0 0 0 0;																	}
.ArticlesTable  tfoot tr:first-child th:last-child 					{   border-radius: 0 0 0 0;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the JOURNAL.php page */
.JournalInvisibleTableBorders 											{	width:305px;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.JournalInvisibleTableBorders th 											{   color:#000;   	vertical-align:middle; 	text-align:middle;    	border:0.0em dotted slateGray; 		}
.JournalInvisibleTableBorders td 											{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.0px dotted slateGray; 		}
.JournalInvisibleTableBorders thead tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																	}
.JournalInvisibleTableBorders thead tr:first-child th:last-child 			{   border-radius: 0.6em 0.6em 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.JournalInvisibleTableBorders tbody tr:last-child td:first-child 			{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.JournalInvisibleTableBorders tbody tr:last-child td:last-child 			{	border-radius: 0 0 0 0;																	}
.JournalInvisibleTableBorders tfoot tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																		}
.JournalInvisibleTableBorders tfoot tr:first-child th:last-child 			{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the CONTACTUS.php page */
.ContactUsTable 													{	border-collapse: collapse; width:360px; 	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.ContactUsTable  th 												{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.0em dotted slateGray; 		}
.ContactUsTable  td 												{  	color:#000099;  vertical-align:middle; 	text-align:center;     	border:0.0px dotted slateGray; 		}
.ContactUsTable thead tr:first-child th:first-child 					{	border-radius: 0 0 0 0;																	}
.ContactUsTable  thead tr:first-child th:last-child 					{   border-radius: 0.6em 0.6em 0em 0em;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.ContactUsTable  tbody tr:last-child td:first-child 					{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.ContactUsTable  tbody tr:last-child td:last-child 					{	border-radius: 0 0 0 0;																	}
.ContactUsTable  tfoot tr:first-child th:first-child 					{	border-radius: 0 0 0 0;																	}
.ContactUsTable  tfoot tr:first-child th:last-child 					{   border-radius: 0em 0em 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the ADMIN - UPDATEARTICLESONDB.php page */
.SmallTableWithRoundedTopCorner 											{	width:305px;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.SmallTableWithRoundedTopCorner th 										{   color:#000;   	vertical-align:middle; 	text-align:middle;    	border:0.0em dotted slateGray; 		}
.SmallTableWithRoundedTopCorner td 										{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.0px dotted slateGray; 		}
.SmallTableWithRoundedTopCorner thead tr:first-child th:first-child 		{	border-radius: 0 0 0 0;																	}
.SmallTableWithRoundedTopCorner thead tr:first-child th:last-child 			{   border-radius: 0.6em 0.6em 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.SmallTableWithRoundedTopCorner tbody tr:last-child td:first-child 			{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.SmallTableWithRoundedTopCorner tbody tr:last-child td:last-child 			{	border-radius: 0 0 0 0;																	}
.SmallTableWithRoundedTopCorner tfoot tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																		}
.SmallTableWithRoundedTopCorner tfoot tr:first-child th:last-child 			{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

/* This table is used on the ADMIN - UPDATEARTICLESONDB.php page */
.SmallTableWithRoundedTopCornerandRoundedBottom 											{	width:305px;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.SmallTableWithRoundedTopCornerandRoundedBottom th 										{   color:#000;   	vertical-align:middle; 	text-align:middle;    	border:0.0em dotted slateGray; 		}
.SmallTableWithRoundedTopCornerandRoundedBottom td 										{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.0px dotted slateGray; 		}
.SmallTableWithRoundedTopCornerandRoundedBottom thead tr:first-child th:first-child 							{	border-radius: 0 0 0 0;																	}
.SmallTableWithRoundedTopCornerandRoundedBottom thead tr:first-child th:last-child 							{   border-radius: 0.6em 0.6em 0.6em 0.6em;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.SmallTableWithRoundedTopCornerandRoundedBottom tbody tr:last-child td:first-child 							{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.SmallTableWithRoundedTopCornerandRoundedBottom tbody tr:last-child td:last-child 							{	border-radius: 0 0 0 0;																	}
.SmallTableWithRoundedTopCornerandRoundedBottom tfoot tr:first-child th:first-child 							{	border-radius: 0 0 0 0;																	}
.SmallTableWithRoundedTopCornerandRoundedBottom tfoot tr:first-child th:last-child 							{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}



/* This table is used on the ADMIN - UPDATEARTICLESONDB.php page */
.ArticleTable 															{	border-collapse: collapse; width:703px; margin:auto;		font-size:12px;			border:0.0em solid slateGray; 				}
.ArticleTable th 															{   color:#000;   		vertical-align:middle; 	text-align:center;    	border:0.0em dotted slateGray; 		}
.ArticleTable td 															{  	color:#000099;  	vertical-align:middle; 	text-align:left;    	border:0.0em dotted slateGray; 		}
.ArticleTable thead tr:first-child th:first-child 							{	border-radius: 0 0 0 0;																	}
.ArticleTable thead tr:first-child th:last-child 							{   border-radius: 0.6em 0.6em 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}
.ArticleTable tbody tr:last-child td:first-child 							{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.ArticleTable tbody tr:last-child td:last-child 							{	border-radius: 0 0 0 0;																	}
.ArticleTable tfoot tr:first-child th:first-child 							{	border-radius: 0 0 0 0;																	}
.ArticleTable tfoot tr:first-child th:last-child 							{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

.table11 											{	width:360px;	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.table11 th 											{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.1em dotted slateGray; 		}
.table11 td 											{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.1px dotted slateGray; 		}

.table11 thead tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																	}
.table11 thead tr:first-child th:last-child 			{   border-radius: 0.6em 0.6em 0 0;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}

.table11 tbody tr:last-child td:first-child 			{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.table11 tbody tr:last-child td:last-child 				{	border-radius: 0 0 0 0;																	}

.table11 tfoot tr:first-child th:first-child 			{	border-radius: 0 0 0 0;																	}
.table11 tfoot tr:first-child th:last-child 				{   border-radius: 0 0 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

.tableadminaddarticle 									{	width:700px; 	margin:auto;			font-size:12px;			border:0.0em solid slateGray; 		}
.tableadminaddarticle  th 								{   color:#000;   	vertical-align:middle; 	text-align:center;    	border:0.1em dotted slateGray; 		}
.tableadminaddarticle  td 								{  	color:#000099;  vertical-align:middle; 	text-align:left;    	border:0.1px dotted slateGray; 		}

.tableadminaddarticle  thead tr:first-child th:first-child {	border-radius: 0 0 0 0;																	}
.tableadminaddarticle  thead tr:first-child th:last-child 	{   border-radius: 0.6em 0.6em 0.6em 0.6em;		/* first row trending - TLHC, TRHC, BRHC, BLHC */	}

.tableadminaddarticle  tbody tr:last-child td:first-child 	{   border-radius: 0 0 0 0;				/* each row trending - TLHC, TRHC, BRHC, BLHC */	}
.tableadminaddarticle  tbody tr:last-child td:last-child 			{	border-radius: 0 0 0 0;																	}

.tableadminaddarticle  tfoot tr:first-child th:first-child 	{	border-radius: 0 0 0 0;																	}
.tableadminaddarticle  tfoot tr:first-child th:last-child 	{   border-radius: 0em 0em 0.6em 0.6em;		/* last row trending - TLHC, TRHC, BRHC, BLHC */	}

.hide_me { display: none; }

.textareastyles
{
	/*border: 3px solid #cccccc;*/
	border: 1px dotted lightGray;		border-style: none none dotted;
	padding: 5px;
	font-family: 	"Arial";	font-size: 		9pt;
}


textarea {
width: 360px;  
height: 200px;
border: 0px;
resize: none; }


textarea#styled {
	width: 340px;
	height: 120px;
	border: 0.1em dotted slateGray;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}




.styled-select {

   height: 24px;
   overflow: hidden;
   background: url(../images/new_drop_arrow.jpg) no-repeat right SeaShell; 
   border: 1px solid #ccc; 
   /*width: 610px; */
   width: 70%;
   margin: 0 auto;


   }



.styled-select select {

   background: transparent;
   /* width: 630px; */
   width: 110%;
   padding: 1px;
   font-family: 	"Arial";	font-size: 		9pt;	color: 	slateGray;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 24px;
   -webkit-appearance: none; 
   }

    body {
      background: #fafafa;
    }
    
    p {
      font-family: 'Open Sans', sans-serif!important;
      color: #000;
    }
    
    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
	  font-family: 'Open Sans', sans-serif;
    }
    
    .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }
    
    .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background: #7386D5;
      color: #fff !important;
      transition: all 0.3s;
    }
    
    #sidebar.active {
      margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
      padding: 20px;
      background: #6d7fcc;
    }
    
    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }
    
    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color:white;
    }
    
    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
      position: relative;
    }
    
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }
    
    a[aria-expanded="true"]::before {
      content: '\e260';
    }
    
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    
    ul.CTAs {
      padding: 20px;
    }
    
    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    
    a.download {
      background: #fff;
      color: #7386D5;
    }
    
    a.article,
    a.article:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
      width: calc(100% - 250px);
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
    }
    
    #content.active {
      width: 100%;
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #content {
        width: 100%;
      }
      #content.active {
        width: calc(100% - 250px);
      }
      #sidebarCollapse span {
        display: none;
      }
    }

    /* ---------------------------------------------------
    NEW STYLES
----------------------------------------------------- */

    #wrapper {
     max-width:1800px;
    }
	
	.container {
		max-width:1280px!important;
	}
	
    /* Remove the bootstrap's navbar's default margin-bottom and rounded borders */ 
    .header {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      height: 100%;
	  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
	
	.navbar {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)!important;
	}
        
		
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      }
      .row.content {height:auto;} 
    }
	
	.article {
		margin-bottom: 0rem!important;
	}
	
	.fakebutton {
		background-color: #f8f9fa!important;
		border-color: #f8f9fa!important;
	}
	
	.alert {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	}

	.journal_display{ /* Class for the box the journals sit it -  Journals.php */
		margin: 10px;
	  box-shadow: 2px 2px 5px #888888;
	  transition: box-shadow 1s;

	}

	.journal_img{
		width: 300px;
	
	}

	.journal_display:hover{
	  box-shadow: 2px 2px 10px #888888;
	}