    #homepics {
      background:lightgray;
      margin-bottom:1rem;
      text-align: -webkit-center;
    }
    #homepics img {
      width: 100%;
    }

    #wrapper {
      max-width:1200px;
    }

    .loginform {
      width:250px;
      padding:-5px;
      text-align:center;
    }