vti_encoding:SR|utf8-nl
vti_author:SR|JasonStansbie\\Jason Paul Stansbie
vti_modifiedby:SR|JasonStansbie\\Jason Paul Stansbie
vti_timelastmodified:TR|04 Feb 2015 08:18:01 -0000
vti_timecreated:TR|12 Jan 2015 13:04:00 -0000
vti_title:SR|New Page 2
vti_extenderversion:SR|6.0.2.8161
vti_nexttolasttimemodified:TW|21 Jan 2015 15:25:11 -0000
vti_backlinkinfo:VX|index.htm journal.htm research.htm contactus.htm about.htm researchers.htm conferencesandseminars.htm
vti_cacheddtm:TX|04 Feb 2015 08:18:01 -0000
vti_filesize:IR|818
