vti_encoding:SR|utf8-nl
vti_author:SR|JasonStansbie\\Jason Paul Stansbie
vti_modifiedby:SR|JasonStansbie\\Jason Paul Stansbie
vti_timelastmodified:TR|04 Feb 2015 08:29:29 -0000
vti_timecreated:TR|06 Jan 2015 10:32:06 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.htm DAT\\ Stuff/Solutions/cdkpujournal.htm journal.htm contactus.htm news.htm research.htm researchers.htm about.htm conferencesandseminars.htm
vti_nexttolasttimemodified:TW|04 Feb 2015 08:27:38 -0000
vti_cacheddtm:TX|04 Feb 2015 08:29:29 -0000
vti_filesize:IR|2448
vti_cachedlinkinfo:VX|S|../images/WebLogo.png S|../images/WebLogo.png S|../images/BlueBox.jpg
vti_cachedsvcrellinks:VX|FSUS|images/WebLogo.png FSUS|images/WebLogo.png FSUS|images/BlueBox.jpg
