vti_encoding:SR|utf8-nl
vti_author:SR|JasonStansbie\\Jason Paul Stansbie
vti_modifiedby:SR|JasonStansbie\\Jason Paul Stansbie
vti_timelastmodified:TR|04 Feb 2015 08:30:42 -0000
vti_timecreated:TR|06 Jan 2015 13:22:00 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.htm DAT\\ Stuff/Solutions/cdkpujournal.htm journal.htm contactus.htm news.htm research.htm researchers.htm about.htm conferencesandseminars.htm
vti_nexttolasttimemodified:TW|07 Jan 2015 11:19:58 -0000
vti_cacheddtm:TX|04 Feb 2015 08:30:42 -0000
vti_filesize:IR|2842
